---
title: "标签"
layout: default
description: "毅力"
header-img: "img/tag-bg.jpg"
---

<div class="postContent">
	<!-- Main Content -->
	<div class="container">
		<div class="row">
			<div class="col-md-8">
	            <!-- 标签列表 -->
				{% for tag in site.tags %}
				<div class="one-tag-list">
				  	<span class="label label-info" id="{{ tag[0] }}">
	                    <span class="tag-text">{{ tag[0] }}</span>
	                </span>

					<div class="list-group">
					{% for post in tag[1] %}
					  <!-- <li class="listing-item">
					  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
					  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
					  </li> -->
					    <a href="{{ post.url | prepend: site.baseurl }}" class="list-group-item">
					        <h4 class="list-group-item-heading">
	                            {{ post.title }}
					        </h4>
					        {% if post.subtitle %}
					        <p class="list-group-item-text">
					            {{ post.subtitle }}
					        </p>
					        {% endif %}
					    </a>
					    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
					{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>

			<div class="col-md-4">
	            <!-- 标签云 -->
				<div id='tag_cloud' class="tags newsItem">
					{% for tag in site.tags %}
					<a href="#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">{{ tag[0] }}</a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</div>