---
layout: default
---

<!-- Main Content -->
<div class="container">
	<div class="row">
        {% if site.sidebar == false %}
<!-- NO SIDEBAR -->
    <!-- Post Container -->
            <div class="col-md-8 main-content">
                {{ content }}
            </div>
    <!-- Sidebar Container -->
            <div class="col-md-4 sidebar">

                <!-- Featured Tags -->
                {% if site.featured-tags %}
                <section>
                    <!-- no hr -->
                    <h5><a href="{{'/tags/' | prepend: site.baseurl }}">FEATURED TAGS</a></h5>
                    <div class="tags">
        				{% for tag in site.tags %}
                            {% if tag[1].size > {{site.featured-condition-size}} %}
                				<a href="{{ site.baseurl }}/tags/#{{ tag[0] }}" title="{{ tag[0] }}" rel="{{ tag[1].size }}">
                                    {{ tag[0] }}
                                </a>
                            {% endif %}
        				{% endfor %}
        			</div>
                </section>
                {% endif %}

                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>FRIENDS</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        {% else %}

<!-- USE SIDEBAR -->
    <!-- Post Container -->
    		<div class="col-md-8 main-content">
    			{{ content }}
    		</div>
    <!-- Sidebar Container -->
            <div class="col-md-4 sidebar">
                {% include subbar.html %}             
    		</div>
        {% endif %}
	</div>
</div>
